# Compiled python modules
*.pyc

#Virtual Environment
/venv/

# Setuptools distribution folder
/dist/
/build/

#Python egg metadata
/*.egg-info
/*.egg

#Credential files
credentials.txt

#Other files
test.py
.pytest_cache


#VS Code Files
.vscode/