# Compiled python modules
*.pyc
__pycache__

#Virtual Environment
/venv/
.venv

# Setuptools distribution folder
/dist/
/build/

#Python egg metadata
/*.egg-info
/*.egg

#Mac Files
.DS_Store

#Credential files
credentials.txt
local.txt

#Other files
test.py
.pytest_cache


#VS Code Files
.vscode/