# Compiled python modules
*.pyc

# Setuptools distribution folder
/dist/
/build/

#Python egg metadata
/*.egg-info
/*.egg

#Credential files
credentials.txt

#Other files
test.py

#VS Code Files
.vscode/